body{
  background-color: #311111;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}



h1 {
  obliquw-angle: 45deg;
  font-size: 3em;
  background-image: linear-gradient(to top, #510505 0%, #dfd80c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
